@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(29, 29, 29, 0.87);
  background-color: #fdfdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#root {
  position: relative;
  height: 100vh;
}

h1, p {
  margin: 0;
}